{% extends 'base.html' %}

{% block content %}
<h3 style="letter-spacing: 0;">各个云平台全球地域支持情况</h3>
<table class="pure-table pure-table-bordered cloudping-table">
    <thead>
    <tr>
        <th class="cloudping-th">地域/公司</th>
        {% for r in companies|slice:"10:" %}
            <th class="cloudping-th">{{ r }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>支持地域数</td>
        {% for c in counts|slice:"10:" %}
            <td>{{ c }}</td>
        {% endfor %}
    </tr>
    {% for row in rows|slice:"10:" %}
    <tr>
        {% for c in row %}
        <td class="cloudping-td">{% ifequal c True %}&#10003{% else %}{% if c %}{{ c }}{% endif %}{% endifequal %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
