{% extends 'base.html' %}

{% block content %}
<table class="pure-table pure-table-bordered cloudping-table">
    <thead>
    <tr>
        <th class="cloudping-th">地域/公司</th>
        {% for r in companies %}
            <th class="cloudping-th">{{ r }}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>支持地域数</td>
        {% for c in counts %}
            <td>{{ c }}</td>
        {% endfor %}
    </tr>
    {% for l in locations %}
    <tr>
        {% for c in l %}
        <td class="cloudping-td">{% ifequal c True %}&#10003{% else %}{% if c %}{{ c }}{% endif %}{% endifequal %}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
