{% extends 'base.html' %}
{% load i18n %}

{% block title %}
<title>{% trans "Cloud Ping - Speed test" %}</title>
{% endblock %}

{% block content %}
<h3 style="letter-spacing: 0;">{% trans "Available regions for each company" %}</h3>
<table class="pure-table pure-table-bordered cloudping-table">
    <thead>
    <tr>
        <th class="cloudping-th">{% trans "Region/Company" %}</th>
        {% with xslice=":"|add:navigation_count %}
        {% for c in companies|slice:xslice %}
            <th class="cloudping-th">{{ c.name }}</th>
        {% endfor %}
        {% endwith %}
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="cloudping-td">{% trans "Regions count" %}</td>
        {% with xslice=":"|add:navigation_count %}
        {% for c in companies|slice:xslice %}
            <td class="cloudping-td">{{ c.region_count }}</td>
        {% endfor %}
        {% endwith %}
    </tr>
    {% for row in rows %}
    <tr>
        {% with navigation_count=navigation_count|add:1|stringformat:"i" %}
        {% with xslice=":"|add:navigation_count %}
        {% for c in row|slice:xslice %}
        <td class="cloudping-td">{% ifequal c True %}&#10003{% else %}{% if c %}{{ c.name }}{% endif %}{% endifequal %}</td>
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
