{% extends 'base.html' %}

{% block content %}
<h3 style="letter-spacing: 0;">各个云平台全球地域支持情况</h3>
<table class="pure-table pure-table-bordered cloudping-table">
    <thead>
    <tr>
        <th class="cloudping-th">地域/公司</th>
        {% with xslice=":"|add:navigation_count %}
        {% for c in companies|slice:xslice %}
            <th class="cloudping-th">{{ c }}</th>
        {% endfor %}
        {% endwith %}
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>支持地域数</td>
        {% with xslice=":"|add:navigation_count %}
        {% for c in companies|slice:xslice %}
            <td class="cloudping-td">{{ c.region_count }}</td>
        {% endfor %}
        {% endwith %}
    </tr>
    {% for row in rows %}
    <tr>
        {% with navigation_count=navigation_count|add:1|stringformat:"i" %}
        {% with xslice=":"|add:navigation_count %}
        {% for c in row|slice:xslice %}
        <td class="cloudping-td">{% ifequal c True %}&#10003{% else %}{% if c %}{{ c }}{% endif %}{% endifequal %}</td>
        {% endfor %}
        {% endwith %}
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
